<% layout('../layout/boilerplate') -%>

<table class="table table-primary" style="max-width: fit-content;">
    <thead class="thead-primary">
        <tr>
            <th>Name</th>
            <th>Mo. No.</th>
            <th>Balance due</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <% if (allUser && allUser.length > 0) { %>
            <% for(let user of allUser){ %>
                <tr>
                    <td>
                        <%= user.username %>
                    </td> 
                    <td>
                        <%= user.mobile %>
                    </td>
                    <td>
                        <%= user.balance_due%>
                    </td>
                    <td>
                        <form method="GET"action="/owner/<%=user._id%>/edit">
                            <button class="btn btn-dark"><i class="fa-solid fa-pen-to-square"></i></button>
                        </form>
                    </td>
                </tr>
            <% } %>
        <% } else { %>
            <tr>
                <td colspan="4">No Customer in the List</td>
            </tr>
        <% } %>
    </tbody>
</table>
