<% layout('../layout/boilerplate') -%>

<table class="table table-primary col-10">
    <thead class="thead-primary">
        <tr >
            <th>Name</th>
            <th>Mo. No.</th>
        </tr>
    </thead>
    <tbody>
        <% if (allUser && allUser.length > 0) { %>
            <% for(let user of allUser){ %>
                <tr>
                    <td>
                        <a href="/<%=user._id%>/statistics"><%= user.username %></a>
                    </td> 
                    <td>
                        <%= user.mobile %>
                    </td>
                </tr>
            <% } %>
        <% } else { %>
            <tr>
                <td colspan="4">No Customer in the List</td>
            </tr>
        <% } %>
    </tbody>
</table>
